# Virtual environment
.venv/

# Python
__pycache__/
*.py[cod]

# Flask
instance/

# Testing and coverage
.pytest_cache/
.coverage
coverage.xml
htmlcov/

# SQLite database
*.db

# Environment variables / secrets
.env

# VS Code
.vscode/

test.py